In [5]:
# import
from palmerpenguins import load_penguins
raw_data = load_penguins()
raw_data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

How many penguins are there in the dataset?

What species of penguins are included, and how many penguins are there of each species?

What are the unique values for the island and sex columns?

Are there any missing values in the dataset, and in which columns?